<%
    let avatar = data.subfolder ? (data.path + element.slug + "/portrait.png") : (data.path + element.slug + ".png");
    let hideClass = i > 28 ? " hide" : "";
    let name = {
        fr: JSON.stringify(__({phrase: (element.slug_underscore + "_" + type + "_" + "name"), locale: "fr"})),
        en: JSON.stringify(__({phrase: (element.slug_underscore + "_" + type + "_" + "name"), locale: "en"}))
    };
%>

<div class="col-2 element text-center mb-4<%= hideClass %>" data-id="<%= element._id %>" data-name="<%= JSON.stringify(name) %>">
    <div class="element-container">
        <a href="<%= data.element + element._id %>">
            <div class="element-content">
                <img class="d-block mx-auto" src="<%= cloudinary.url(avatar, {fetch_format: "auto", quality: "auto", secure: true}) %>" alt="<%= __(element._name) %>" width="128" />
                <h2 class="font-weight-bold h5 mt-4"><%= __(element._name) %></h2>
            </div>
        </a>
    </div>
    <div class="element-tools">
        <div class="row">
            <div class="col-12 element-delete">
                <a href="<%= data.delete %>">
                    <span>Delete element</span>
                </a>
            </div>
        </div>
    </div>
</div>
