<%
    if (typeof news === 'undefined') locals.news = false;

    let form;
    if (locals.news) {
        form = "<form id='update-news' method='POST' action='../../api/news/update' data-update='true'>";
    } else {
        form = "<form id='update-news' method='POST' action='../api/news/create'>";
    }

    let newsData = {
        title: locals.news ? "Modification de : <span class='text-green'>" + __(news._name) + "</span>" : data.head.title,
        _name: {
            en: locals.cosmo ? __({phrase: news._name, locale: 'en'}) : "",
            fr: locals.cosmo ? __({phrase: news._name, locale: 'fr'}) : ""
        },
        users: () => {
            users.forEach(user => {
                let cleanUser = convertToSlug(user, /[ ]/g);
                %>
                    <option id="user-<%= cleanUser %>" value="<%= cleanUser %>"><%= user %></option>
                <%
            });
        }
    };
%>

<%- form %>
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="text-white h4">
                <i class="material-icons"><%= data.icon %></i>
                <span class="ml-2"><%- newsData.title %></span>
            </h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <label for="fr-name">Titre (FR)</label>
                    <input type="text" id="fr-title" name="fr-title" placeholder="Ex: Nouveau personnage : Hypnos !" class="form-control" minlength="3" <%= locals.news ? "readonly" : "" %> value="<%= newsData._name.fr %>" />
                </div>
                <div class="col-6">
                    <label for="en-name">Titre (EN) <span class="font-weight-bold text-error">*</span></label>
                    <input type="text" id="en-title" name="en-title" placeholder="Ex: Nouveau personnage : Hypnos !" class="form-control" minlength="3" <%= locals.news ? "readonly" : "" %> value="<%= newsData._name.en %>" required />
                </div>
            </div>
        </div>
        <div class="col-3 offset-3">
            <label for="users">User</label>
            <select id="users" class="custom-select form-control">
                <option value="">Choose an user</option>
                <%= newsData.users() %>
            </select>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <label for="news-en">Actualité (FR)</label>
            <textarea id="news-en"></textarea>
            <div class="small mt-1"><span class="font-weight-bold">·</span> Les valeurs minimales pour afficher les contrôles sur le player Bilibili sont <bold>width="750"</bold> et <bold>height="375"</bold> <span class="font-weight-bold">·</span></div>
        </div>
    </div>

    <div class="e-s-4"></div>

    <div class="row mb-4">
        <div class="col-12">
            <label for="news-fr">Actualité (EN)</label>
            <textarea id="news-fr"></textarea>
            <div class="small mt-1"><span class="font-weight-bold">·</span> Les valeurs minimales pour afficher les contrôles sur le player Bilibili sont <bold>width="750"</bold> et <bold>height="375"</bold> <span class="font-weight-bold">·</span></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 hide">
            <label for="upload">Upload file</label>
            <input type="file" id="upload" />
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mx-auto text-center">
            <button id="submit" type="submit" class="btn btn-lg custom-theme theme-2">Sauvegarder les modifications</button>
        </div>
    </div>
</form>

