<%
    if (typeof skill === 'undefined') locals.skill = false;

    let form;
    if (locals.skill) {
        form = "<form id='update-skill' method='POST' action='../../api/skill/update' data-update='true'>";
    } else {
        form = "<form id='update-skill' method='POST' action='../api/skill/create'>";
   }

    let skillData = {
        title: locals.skill ? "Modification de : <span class='text-green'>" + __(skill._name) + "</span>" : data.head.title,
        types_skill: () => {
            let types = [
                {
                    name: "Principal",
                    value: "main"
                },
                {
                    name: "Modifié",
                    value: "modified"
                }
            ];

            for (let i = 0, count = types.length; i < count; i++) {
                let type = types[i],
                    selected;

                if (locals.skill) {
                    selected = type.value === skill.type ? "selected": "";
                }
                %>
                    <option id="type-modified-skill" value="<%= type.value %>" <%= selected %>><%= type.name %></option>
                <%
            }
        },
        _name: {
            en: locals.skill ? __({phrase: skill._name, locale: 'en'}) : "",
            fr: locals.skill ? __({phrase: skill._name, locale: 'fr'}) : ""
        },
        description: {
            main: {
                en: locals.skill ? __({phrase: skill.description.main, locale: 'en'}) : "",
                fr: locals.skill ? __({phrase: skill.description.main, locale: 'fr'}) : ""
            },
            levels: () => {
                for (let i = 0, count = 5; i < count; i++) {
                    let currentIndex = i + 1,
                        enDescription = locals.skill ? __({phrase: skill.description.levels[i], locale: 'en'}) : "",
                        frDescription = locals.skill ? __({phrase: skill.description.levels[i], locale: 'fr'}) : "";
                    %>
                        <div class="col-6 mb-4">
                            <label for="level-<%= currentIndex %>-description-fr">Description compétence niveau <%= currentIndex %> (FR)</label>
                            <textarea id="level-<%= currentIndex %>-description-fr" class="form-control" minlength="10"><%= frDescription %></textarea>
                        </div>
                        <div class="col-6">
                            <label for="level-<%= currentIndex %>-description-en">Description compétence niveau <%= currentIndex %> (EN)</label>
                            <textarea id="level-<%= currentIndex %>-description-en" class="form-control" minlength="10"><%= enDescription %></textarea>
                        </div>
                    <%
                }
            }
        },
        image: locals.skill ? cloudinary.url("skills/" + skill.slug + ".png", {fetch_format: "auto", quality: "auto", secure: true}) : cloudinary.url("skills/default.png", { fetch_format: "auto", quality: "auto", secure: true }),
        skill_index: locals.skill ? skill.skill_index : "",
        cost: locals.skill ? skill.cost : "",
        linked_saint_id: {
            name: locals.skill && locals.linked_saint ? __(linked_saint._name) : "",
            avatar: locals.skill && locals.linked_saint ? cloudinary.url("saints/" + linked_saint.slug + "/portrait.png", {fetch_format: "auto", quality: "auto", secure: true}) : cloudinary.url("saints/default-portrait.png", {fetch_format: "auto", quality: "auto", secure: true}),
            serialize: locals.skill && locals.linked_saint ? linked_saint._id : ""
        },
        awakening_skill_id: {
            name: locals.skill && locals.awakening_skill ? __(awakening_skill._name) : "",
            avatar: locals.skill && locals.awakening_skill ? cloudinary.url("skills/" + awakening_skill.slug + ".png", {fetch_format: "auto", quality: "auto", secure: true}) : cloudinary.url("skills/default.png", {fetch_format: "auto", quality: "auto", secure: true}),
            serialize: locals.skill && locals.awakening_skill ? awakening_skill._id : ""
        },
        is_passive: locals.skill ? skill.is_passive: "",
        linked_modified_skills: () => {
            if (locals.skill) {
                if (!skill.linked_modified_skills[0]) {
                    return;
                }

                for (let i = 0, count = skill.linked_modified_skills.length; i < count; i++) {
                    let s = skill.linked_modified_skills[i];
                    %>
                        <%- include("partials/linked-modified-skill", {
                            _id: s._id,
                            slug: s.slug,
                            name: __(s._name)
                        }) %>
                    <%
                }
            }
        }
    };
%>

<%- form %>
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="text-white h4">
                <i class="material-icons"><%= data.icon %></i>
                <span class="ml-2"><%- skillData.title %></span>
            </h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-2">
            <label for="types-skill">Type du skill</label>
            <select id="types-skill" class="not-full-width form-control">
                <%= skillData.types_skill() %>
            </select>
        </div>
    </div>

    <div class="form-group row mb-4">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <label for="fr-name">Name (FR)</label>
                    <input type="text" id="fr-name" name="fr-name" placeholder="Ex: Grande Éclipse I" class="form-control" minlength="3" <%= locals.skill ? "readonly" : "" %> value="<%= skillData._name.fr %>" />
                </div>
                <div class="col-6">
                    <label for="en-name">Name (EN) <span class="font-weight-bold text-error">*</span></label>
                    <input type="text" id="en-name" name="en-name" placeholder="Ex: Great Eclipse I" class="form-control" minlength="3" <%= locals.skill ? "readonly" : "" %> value="<%= skillData._name.en %>" required />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12 thumb-container">
                    <label for="custom-file" class="pointer">Upload image <span class="small font-weight-bold">(max 256kb)</span>: <span class="text-gold"><%= !locals.skill ? "default.png" : "" %></span></label>
                    <input type="file" id="custom-file" name="custom-file" class="not-visible" accept=".jpg, .jpeg, .png">
                    <img src="<%= skillData.image %>" id="avatar" class="img-fluid img big object-fit-contain pointer" alt="Avatar" />
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-6">
            <label for="fr-description">Description principale (FR)</label>
            <textarea id="fr-description" class="form-control main-description" minlength="10"><%= skillData.description.main.fr %></textarea>
        </div>
        <div class="col-6">
            <label for="en-description">Description principale (EN)</label>
            <textarea id="en-description" class="form-control main-description" minlength="10"><%= skillData.description.main.en %></textarea>
        </div>
    </div>

    <div class="row mb-4 marker-type-main">
        <%= skillData.description.levels() %>
    </div>

    <div class="row mb-5">
        <div class="col-3 mt-2 marker-type-main">
            <label for="skill-index">Position de la compétence</label>
            <input type="number" id="skill-index" name="skill-index" placeholder="Ex: 2" class="form-control" min="0" max="4" value="<%= skillData.skill_index %>" />
            <div class="small mt-1"><span class="font-weight-bold">·</span> min 1 - max 4 <span class="font-weight-bold">·</span></div>
        </div>
        <div class="col-2 mt-2">
            <label for="cost">Coût en cristaux</label>
            <input type="number" id="cost" name="cost" placeholder="Ex: 2" class="form-control" min="0" max="8" value="<%= skillData.cost %>" />
            <div class="small mt-1"><span class="font-weight-bold">·</span> min 0 - max 8 <span class="font-weight-bold">·</span></div>
        </div>
        <div class="col-1 mt-5 text-center">
            <input type="checkbox" id="is-passive" name="is-passive" <%= skillData.is_passive ? "checked='true'" : "" %> />
            <label for="is-passive" class="ml-1">Passive</label>
        </div>
        <div class="col-6 mt-2 marker-type-main">
            <div class="row">
                <div class="col-8 autocomplete-container position-relative">
                    <label for="awakening-skill-id">
                        <span>Compétence éveillée correspondante (RC)</span>
                        <i class="material-icons">search</i>
                    </label>
                    <input type="text" id="awakening-skill-id" name="awakening-skill-id" placeholder="Ex: Greatest Caution" class="form-control" value="<%= skillData.awakening_skill_id.name %>" data-serialize="<%= skillData.awakening_skill_id.serialize %>" />
                    <div class="small mt-1"><span class="font-weight-bold">·</span> 3 caractères minimum <span class="font-weight-bold">·</span></div>
                </div>
                <div class="col-4 thumb-container">
                    <img class="not-input-file" src="<%= skillData.awakening_skill_id.avatar %>" alt="Awakening skill image" />
                </div>
            </div>
        </div>
    </div>

    <div class="e-s-4"></div>

    <div class="row mb-5">
        <div class="col-6 autocomplete-container position-relative marker-type-main">
            <label for="modified-skills-ids">
                <span>Skill(s) modifié(s) correspondant(s)</span>
                <i class="material-icons">search</i>
            </label>
            <input type="text" id="modified-skills-ids" name="modified-skills-ids" placeholder="Ex: Great Eclipse II" class="form-control" />
            <div class="small mt-1"><span class="font-weight-bold">·</span> 3 caractères minimum <span class="font-weight-bold">·</span></div>
            <div id="sortable-skills" class="row modified-skills mt-3"><%= skillData.linked_modified_skills() %></div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8 autocomplete-container position-relative">
                    <label for="linked-saint-id">
                        <span>Saint correspondant</span>
                        <i class="material-icons">search</i>
                    </label>
                    <input type="text" id="linked-saint-id" name="linked-saint-id" placeholder="Ex: Arayshiki Shaka" class="form-control" value="<%= skillData.linked_saint_id.name %>" data-serialize="<%= skillData.linked_saint_id.serialize %>" />
                    <div class="small mt-1"><span class="font-weight-bold">·</span> 3 caractères minimum <span class="font-weight-bold">·</span></div>
                </div>
                <div class="col-4 thumb-container">
                    <img class="not-input-file" src="<%= skillData.linked_saint_id.avatar %>" alt="Saint image" />
                </div>
            </div>
        </div>
    </div>

    <div class="e-s-5"></div>

    <div class="row mb-4">
        <div class="col-12 mx-auto text-center">
            <button id="submit" type="submit" class="btn btn-lg custom-theme theme-2">Sauvegarder les modifications</button>
        </div>
    </div>
</form>
