<%
    if (typeof skill === 'undefined') locals.skill = false;

    let form;
    if (locals.skill) {
        form = "<form id='update-skill' method='POST' action='../../api/skill/update' data-update='true'>";
    } else {
        form = "<form id='update-skill' method='POST' action='../api/skill/create'>";
   }

    let skillData = {
        typesSkill: () => {
            let types = [
                {
                    name: "Standard",
                    value: "standard"
                },
                {
                    name: "Modifié",
                    value: "modified"
                }
            ];

            for (let i = 0, count = types.length; i < count; i++) {
                let type = types[i],
                    selected;

                if (locals.skill) {
                    selected = type.value === skill.type ? "selected": "";
                }
                %>
                    <option id="type-skill-modified" value="<%= type.value %>" <%= selected %>><%= type.name %></option>
                <%
            }
        },
        name: {
            en: locals.skill ? locales[0][skill.slug_underscore + '_skill_name'] : "",
            fr: locals.skill ? locales[1][skill.slug_underscore + '_skill_name'] : ""
        },
        description: {
            main: {
                en: locals.skill ? locales[0][skill.slug_underscore + '_skill_description_main'] : "",
                fr: locals.skill ? locales[1][skill.slug_underscore + '_skill_description_main'] : ""
            },
            levels: () => {
                for (let i = 1, count = 5; i <= count; i++) {
                    let enDescription = locals.skill ? locales[0][skill.slug_underscore + '_skill_description_level_' + i] : "",
                        frDescription = locals.skill ? locales[1][skill.slug_underscore + '_skill_description_level_' + i] : "";
                    %>
                        <div class="col-6 mb-4">
                            <label for="level-<%= i %>-description-fr">Description compétence niveau <%= i %> (FR)</label>
                            <textarea id="level-<%= i %>-description-fr" name="level-<%= i %>-description-fr" class="form-control" minlength="10"><%= frDescription %></textarea>
                        </div>
                        <div class="col-6">
                            <label for="level-<%= i %>-description-en">Description compétence niveau <%= i %> (EN)</label>
                            <textarea id="level-<%= i %>-description-en" name="level-<%= i %>-description-en" class="form-control" minlength="10"><%= enDescription %></textarea>
                        </div>
                    <%
                }
            }
        },
        image: locals.skill ? cloudinary.url("skills/" + skill.slug + ".png", {fetch_format: "auto", quality: "auto", secure: true}) : cloudinary.url("skills/default.png", { fetch_format: "auto", quality: "auto", secure: true }),
        skill_index: locals.skill ? skill.skill_index : "",
        cost: locals.skill ? skill.cost : "",
        linked_saint_id: locals.skill ? skill.linked_saint_id : "",
        awakening_skill_id: locals.skill ? skill.awakening_skill_id: "",
        is_passive: locals.skill ? skill.is_passive: "",
        linked_skills_modified: () => {
            if (locals.skill) {
                for (let i = 0, count = skill.linked_skills_modified.length; i < count; i++) {
                    let s = skill.linked_skills_modified[i];
                    %>
                        <div class="col-4 position-relative mb-2" data-serialize="<%= s._id %>">
                            <div class="skill-modified">
                                <img src="<%= cloudinary.url("skills/" + s.slug + ".png", {fetch_format: "auto", quality: "auto", secure: true}) %>" class="mr-2" alt="Skill icon" />
                                <span><%= convertToName(s.slug) %></span>
                                <span class="close">×</span>
                            </div>
                        </div>
                    <%
                }
            }
        }
    };
%>

<%- form %>
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="text-white h4">
                <i class="material-icons"><%= data.icon %></i>
                <span class="ml-2"><%= data.head.title %></span>
            </h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-2">
            <label for="types-skill">Type du skill</label>
            <select id="types-skill" class="not-full-width form-control">
                <%= skillData.typesSkill() %>
            </select>
        </div>
    </div>

    <div class="form-group row mb-4">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <label for="fr-name">Name (FR)</label>
                    <input type="text" id="fr-name" name="fr-name" placeholder="Ex: Grande Éclipse I" class="form-control" minlength="3" value="<%= skillData.name.fr %>" />
                </div>
                <div class="col-6">
                    <label for="en-name">Name (EN) <span class="font-weight-bold text-error">*</span></label>
                    <input type="text" id="en-name" name="en-name" placeholder="Ex: Great Eclipse I" class="form-control" minlength="3" value="<%= skillData.name.en %>" required />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12 thumb-container">
                    <label for="custom-file" class="pointer">Upload image <span class="small">(max 256kb)</span>: <span class="text-gold"><%= !locals.skill ? "default.png" : "" %></span></label>
                    <input type="file" id="custom-file" name="custom-file" class="not-visible" accept=".jpg, .jpeg, .png">
                    <img src="<%= skillData.image %>" id="avatar" class="img-fluid img big object-fit-contain rounded pointer" alt="Avatar" />
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-6">
            <label for="fr-description">Description principale (FR)</label>
            <textarea id="fr-description" name="fr-description" class="form-control main-description" minlength="10"><%= skillData.description.main.fr %></textarea>
        </div>
        <div class="col-6">
            <label for="en-description">Description principale (EN)</label>
            <textarea id="en-description" name="en-description" class="form-control main-description" minlength="10"><%= skillData.description.main.en %></textarea>
        </div>
    </div>

    <div class="row mb-4 marker-type-standard">
        <%= skillData.description.levels() %>
    </div>

    <div class="row mb-5">
        <div class="col-3 mt-2 marker-type-standard">
            <label for="skill-index">Position de la compétence</label>
            <input type="number" id="skill-index" name="skill-index" placeholder="Ex: 2" class="form-control" min="0" max="4" value="<%= skillData.skill_index %>" />
            <div class="small mt-1"><span class="font-weight-bold">·</span> min 1 - max 4 <span class="font-weight-bold">·</span></div>
        </div>
        <div class="col-2 mt-2">
            <label for="cost">Coût en cristaux</label>
            <input type="number" id="cost" name="cost" placeholder="Ex: 2" class="form-control" min="0" max="8" value="<%= skillData.cost %>" />
            <div class="small mt-1"><span class="font-weight-bold">·</span> min 0 - max 8 <span class="font-weight-bold">·</span></div>
        </div>
        <div class="col-1 mt-5 text-center">
            <input type="checkbox" id="is-passive" name="is-passive" <%= skillData.is_passive ? "checked='true'" : "" %> />
            <label for="is-passive" class="ml-1">Passive</label>
        </div>
        <div class="col-6 mt-2 marker-type-standard">
            <div class="row">
                <div class="col-8 autocomplete-container position-relative">
                    <label for="awakening-skill-id">
                        <span>Compétence éveillée correspondante (RC)</span>
                        <i class="material-icons">search</i>
                    </label>
                    <input type="text" id="awakening-skill-id" name="awakening-skill-id" placeholder="Ex: Greatest Caution" class="form-control" value="<%= skillData.awakening_skill_id %>" />
                    <div class="small mt-1"><span class="font-weight-bold">·</span> 3 caractères minimum <span class="font-weight-bold">·</span></div>
                </div>
                <div class="col-4 thumb-container">
                    <img class="not-input-file" src="<%= cloudinary.url("skills/default.png", {fetch_format: "auto", quality: "auto", secure: true}) %>" alt="Awakening skill image" />
                </div>
            </div>
        </div>
    </div>

    <div class="e-s-4"></div>

    <div class="row mb-5">
        <div class="col-6 autocomplete-container position-relative marker-type-standard">
            <label for="skills-modified-ids">
                <span>Skill(s) modifié(s) correspondant(s)</span>
                <i class="material-icons">search</i>
            </label>
            <input type="text" id="skills-modified-ids" name="skills-modified-ids" placeholder="Ex: Great Eclipse II" class="form-control" />
            <div class="small mt-1"><span class="font-weight-bold">·</span> 3 caractères minimum <span class="font-weight-bold">·</span></div>
            <div id="skills-sortable" class="row skills-modified mt-3"><%= skillData.linked_skills_modified() %></div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8 autocomplete-container position-relative">
                    <label for="linked-saint-id">
                        <span>Saint correspondant</span>
                        <i class="material-icons">search</i>
                    </label>
                    <input type="text" id="linked-saint-id" name="linked-saint-id" placeholder="Ex: Arayshiki Shaka" class="form-control" value="<%= skillData.linked_saint_id %>" />
                    <div class="small mt-1"><span class="font-weight-bold">·</span> 3 caractères minimum <span class="font-weight-bold">·</span></div>
                </div>
                <div class="col-4 thumb-container">
                    <img class="not-input-file" src="<%= cloudinary.url("saints/default.png", {fetch_format: "auto", quality: "auto", secure: true}) %>" alt="Saint image" />
                </div>
            </div>
        </div>
    </div>

    <div class="e-s-5"></div>

    <div class="row mb-4">
        <div class="col-12 mx-auto text-center">
            <button id="submit" type="submit" class="btn btn-lg custom-theme theme-2">Sauvegarder les modifications</button>
        </div>
    </div>
</form>
