<%
    if (typeof skill === 'undefined') locals.skill = false;

    let form;
    if (locals.skill) {
        form = "<form id='update-skill' method='POST' action='../../api/skill/update' data-update='true'>";
    } else {
        form = "<form id='update-skill' method='POST' action='../api/skill/create'>";
   }

    let skillData = {
        name: {
            en: locals.skill ? locales[0][skill.slug_underscore + '_skill_name'] : "",
            fr: locals.skill ? locales[1][skill.slug_underscore + '_skill_name'] : ""
        },
        description: {
            main: {
                en: locals.skill ? locales[0][skill.slug_underscore + '_skill_name'] : "",
                fr: locals.skill ? locales[1][skill.slug_underscore + '_skill_name'] : ""
            },
            levels: () => {
                for (let i = 1, count = 5; i <= count; i++) {
                    let enDescription = locals.skill ? locales[0][skill.slug_underscore + '_skill_description_' + i] : "",
                        frDescription = locals.skill ? locales[1][skill.slug_underscore + '_skill_description_' + i] : "";
                    %>
                        <div class="col-6 mb-4">
                            <label for="level-<%= i %>-description-fr">Description compétence niveau <%= i %> (FR)</label>
                            <textarea id="level-<%= i %>-description-fr" name="level-<%= i %>-description-fr" class="form-control" minlength="10"><%= frDescription %></textarea>
                        </div>
                        <div class="col-6">
                            <label for="level-<%= i %>-description-en">Description compétence niveau <%= i %> (EN)</label>
                            <textarea id="level-<%= i %>-description-en" name="level-<%= i %>-description-en" class="form-control" minlength="10"><%= enDescription %></textarea>
                        </div>
                    <%
                }
            }
        },
        image: locals.skill ? cloudinary.url("skills/" + skill.slug + ".png", {fetch_format: "auto", quality: "auto", secure: true}) : cloudinary.url("skills/default.png", { fetch_format: "auto", quality: "auto", secure: true }),
        cost: locals.skill ? skill.cost : "",
        linked_saint_id: locals.skill ? skill.linked_saint_id : "",
        awakening_skill_id: locals.skill ? skill.awakening_skill_id: "",
        isPassive: locals.skill ? skill.isPassive: "",
        skillIndex: locals.skill ? skill.skillIndex : ""
    };
%>

<%- form %>
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="text-white h4">
                <i class="material-icons"><%= data.icon %></i>
                <span class="ml-2"><%= data.head.title %></span>
            </h1>
        </div>
    </div>

    <div class="form-group row mb-4">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <label for="fr-name">Name (FR)</label>
                    <input type="text" id="fr-name" name="fr-name" placeholder="Ex: Athéna Exclamation" class="form-control" minlength="3" value="<%= skillData.name.fr %>" />
                </div>
                <div class="col-6">
                    <label for="en-name">Name (EN) <span class="font-weight-bold text-error">*</span></label>
                    <input type="text" id="en-name" name="en-name" placeholder="Ex: Athena Exclamation" class="form-control" minlength="3" value="<%= skillData.name.en %>" required />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12 thumb-container">
                    <label for="custom-file" class="pointer">Upload image <span class="small">(max 256kb)</span>: <span class="text-gold"><%= !locals.skill ? "default.png" : "" %></span></label>
                    <input type="file" id="custom-file" class="not-visible" accept=".jpg, .jpeg, .png">
                    <img src="<%= skillData.image %>" id="avatar" class="img-fluid img big object-fit-contain rounded pointer" alt="Avatar" />
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-6">
            <label for="fr-description">Description principale (FR)</label>
            <textarea id="fr-description" name="fr-description" class="form-control main-description" minlength="10"><%= skillData.description.main.fr %></textarea>
        </div>
        <div class="col-6">
            <label for="en-description">Description principale (EN)</label>
            <textarea id="en-description" name="en-description" class="form-control main-description" minlength="10"><%= skillData.description.main.en %></textarea>
        </div>
    </div>

    <div class="row mb-4">
        <%= skillData.description.levels() %>
    </div>

    <div class="row mb-5">
        <div class="col-2 mt-2">
            <label for="cost">Coût en cristaux</label>
            <input type="number" id="cost" name="cost" placeholder="Ex: 2" class="form-control" min="0" max="8" value="<%= skillData.cost %>" />
            <div class="small mt-1"><span class="font-weight-bold">·</span> Minimum : 0, maximum 8 <span class="font-weight-bold">·</span></div>
        </div>
        <div class="col-3 mt-2">
            <label for="skill-index">Index de la compétence</label>
            <input type="number" id="skill-index" name="skill-index" placeholder="Ex: 2" class="form-control" min="0" max="0" value="<%= skillData.skillIndex %>" />
            <div class="small mt-1"><span class="font-weight-bold">·</span> Un index commence à 1 et se termine à 4 <span class="font-weight-bold">·</span></div>
        </div>
        <div class="col-1 mt-5 text-center">
            <input type="checkbox" id="is-passive" name="is-passive" <%= skillData.is_passive ? "checked='true'" : "" %> />
            <label for="is-passive" class="ml-1">Passive</label>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8 position-relative">
                    <label for="awakening-skill-id">Compétence éveillée correspondante (RC)</label>
                    <input type="text" id="awakening-skill-id" name="awakening-skill-id" placeholder="Ex: Greatest Caution" class="form-control" value="<%= skillData.awakening_skill_id %>" />
                    <div class="small mt-1"><span class="font-weight-bold">·</span> champ de recherche : la saisie commence à partir de 3 caractères <span class="font-weight-bold">·</span></div>
                </div>
                <div class="col-4 thumb-container">
                    <img class="not-input-file" src="<%= cloudinary.url("skills/default.png", {fetch_format: "auto", quality: "auto", secure: true}) %>" alt="Awakening skill image" />
                </div>
            </div>
        </div>
    </div>

    <div class="e-s-4"></div>

    <div class="row mb-5">
        <div class="col-6 offset-6">
            <div class="row">
                <div class="col-8 position-relative">
                    <label for="linked-saint-id">Saint correspondant</label>
                    <input type="text" id="linked-saint-id" name="linked-saint-id" placeholder="Ex: Arayshiki Shaka" class="form-control" value="<%= skillData.linked_saint_id %>" />
                    <div class="small mt-1"><span class="font-weight-bold">·</span> champ de recherche : la saisie commence à partir de 3 caractères <span class="font-weight-bold">·</span></div>
                </div>
                <div class="col-4 thumb-container">
                    <img class="not-input-file" src="<%= cloudinary.url("saints/default.png", {fetch_format: "auto", quality: "auto", secure: true}) %>" alt="Saint image" />
                </div>
            </div>
        </div>
    </div>

    <div class="e-s-5"></div>

    <div class="row mb-4">
        <div class="col-12 mx-auto text-center">
            <button id="submit" type="submit" class="btn btn-lg custom-theme theme-2">Sauvegarder les modifications</button>
        </div>
    </div>
</form>
