<section id="<%= data.id %>" class="section">
    <div class="bg-slider"
         data-slide-images-available='{"mobile": <%= data.slide.imagesAvailable.mobile %>, "desktop": <%= data.slide.imagesAvailable.desktop %>}'
         data-slide-count='{"mobile": <%= data.slide.count.mobile %>, "desktop": <%= data.slide.count.desktop %>}'
         data-slide-loop="true"
         data-slide-arrows='{"rounded": <%= data.slide.arrows.rounded %>, "state": <%= data.slide.arrows.state %>, "value": <%= data.slide.arrows.value %>}'
         data-slide-infinite-loop="true">
        <div class="bg-slider-container">
            <div class="bg-overlay bg-overlay-top"></div>
            <div class="bg-slides-container"></div>
            <div class="bg-progress-bar-container">
                <div class="bg-progress-bar"></div>
            </div>
            <div class="bg-arrows-container">
                <div class="bg-arrow bg-arrow-left">
                    <i class="material-icons">keyboard_arrow_left</i>
                </div>
                <div class="bg-arrow bg-arrow-right">
                    <i class="material-icons">keyboard_arrow_right</i>
                </div>
            </div>
            <div class="bg-overlay bg-overlay-bottom"></div>
        </div>
    </div>
</section>
