<!DOCTYPE html>
<html lang="<%= global.utils.locales.language %>">
    <%
    let head = {
        title: 'Saint Seiya - Awakening Wiki',
        viewStyleUrls: [
            "<link defer='defer' rel='stylesheet' href='../../../../css/front/views/routes/saints/show.css' type='text/css'>"
        ],
        viewScriptUrls: [
            "<script defer='defer' src='../../../../public/dist/front/js/saints/show.js' type='text/javascript'></script>"
        ]
    };
    %>
    <%- include('./../../layout/head', {head: head}) %>

    <body>
        <%- include('./../../layout/header') %>

        <section class="container-fluid my-6">
            <%- include('./../../modules/search-bar', {tags: tags}) %>
        </section>

        <section id="saints" class="container-fluid">
            <div class="row mx-auto">
                <div class="col-12 px-sm-0">
                    <div class="wrapper">
                        <% saints.forEach((saint) => { %>
                            <%- include('./../../modules/saint-card', {data: saint}) %>
                        <% }) %>
                    </div>
                </div>
            </div>
        </section>

        <%- include('./../../modules/load-more', {action: "", method: "POST"}) %>
        <%- include('./../../layout/footer') %>
    </body>
</html>
