<%
    starter = JSON.parse(starter);
    let starterValue = starter ? " starter" : "";
    let defaultName = !locals.saint ? "default.png" : "";
    let skinName = locals.skin ? convertToSlug(skin.name, /[ ]/g) : "";
    let skinImageValue;

    if (locals.skin) {
        if (skin.src) {
            skinImageValue = skin.src;
        } else {
            let removeUrl = "saints/" + saint.slug + "/skins/" + skin.name + ".png";
            skinImageValue = cloudinary.url(removeUrl, {fetch_format: "auto", quality: "auto", secure: true});
        }
    } else {
        skinImageValue = cloudinary.url("saints/default-skin.png", {fetch_format: "auto", quality: "auto", secure: true});
    }
%>

<div class="col-2 skin item text-center mb-2<%= starterValue %>" data-name="<%= skinName %>">
    <div class="element-container">
        <% if (starter) { %>
            <div class="extended-portrait">
                <label for="extended-portrait-checkbox" class="small mb-0 pointer">Crop</label>
                <input type="checkbox" id="extended-portrait-checkbox" class="pointer" />
            </div>
            <input type="file" id="skin-<%= index %>" name="custom-file" class="not-visible" accept=".jpg, .jpeg, .png" multiple>
        <% } %>
        <img src="<%= skinImageValue %>" id="skin-image-<%= index %>" class="img-fluid img big object-fit-contain<%= starter ? " pointer" : "" %>" alt="Avatar" />
        <% if (!starter) { %>
            <label for="skin-<%= index %>" class="label-editable d-block" contenteditable="true" data-text="Skin name"><%= capitalize(convertToSlug(skinName, /[-]/g, " ")) %></label>
            <a href="#" class="close">
                <i class="material-icons">close</i>
            </a>
        <% } %>
    </div>
</div>
