<%
    let slugValue = locals.slug ? slug : "";
    let placeholder = locals.placeholder ? " placeholder" : "";
%>

<div class="image-container<%= placeholder %>" data-slug=<%= slugValue %>>
    <% if (placeholder) { %>
        <a href="#" class="trigger-modal" data-index="<%= index %>" data-type="<%= type %>">
            <img src="https://res.cloudinary.com/dowdeo3ja/image/upload/v1/resources/cosmos-suggestions/plus.svg" alt="Add cosmo" />
        </a>
    <% } else { %>
        <img src="https://res.cloudinary.com/dowdeo3ja/image/upload/f_auto,q_auto/v1/cosmos/<%= slugValue %>.png" alt="Add cosmo" />
        <div class="remove-thumbnail" data-slug="<%= slugValue %>" data-index="<%= index %>" data-type="<%= type %>">
            <i class="material-icons">close</i>
        </div>
    <% } %>
</div>
