<% let boolStarter = JSON.parse(starter) %>
<div class="row suggestion<%= boolStarter ? " starter" : "" %>">
    <div class="col-12">
        <div class="row content">
            <div class="col-1 index">
                <div class="py-1"><%= index %></div>
            </div>
            <div class="col-1 fr-name">
                <div class="py-1" contenteditable="true" data-text="Berserk"></div>
            </div>
            <div class="col-1 en-name">
                <div class="py-1" contenteditable="true" data-text="Berserk"></div>
            </div>
            <% cosmosTypes.forEach(type => { %>
                <% type = type.toLowerCase() %>
                <div class="col-2 <%= type %>-cosmos">
                    <%- include("add-thumbnail-cosmo-suggestion", {placeholder: true, type: type, index: index}) %>
                    <%
                        if (locals.elements && locals.elements[type]) {
                            elements[type].forEach(element => {
                                %>
                                    <%- include("add-thumbnail-cosmo-suggestion", {placeholder: false, type: type, index: index, slug: element}) %>
                                <%
                            });
                        }
                    %>
                </div>
            <% }) %>
            <div class="col-1 actions">
                <% if (boolStarter) { %>
                    <button type="button" class="create-cosmos-suggestion form-control not-full-width"><i class="material-icons">add</i></button>
                <% } else { %>
                    <button type="button" data-index="<%= index %>" class="remove-cosmos-suggestion form-control remove not-full-width"><i class="material-icons">close</i></button>
                <% } %>
            </div>
            <div class="col-6 fr-comment mt-3">
                <div contenteditable="true" data-text="FR Comment..."></div>
            </div>
            <div class="col-6 en-comment mt-3">
                <div contenteditable="true" data-text="EN Comment..."></div>
            </div>
        </div>
    </div>
</div>
