<%
    let numberIndex = Number(index);
    let numberIndexPriority = Number(indexPriority);
    let boolStarter = JSON.parse(starter);
%>

<div class="row suggestion<%= boolStarter ? " starter" : "" %>">
    <div class="col-12">
        <div class="row content">
            <div class="col-1 index"><%= index %></div>
            <div class="col-2 priorities">
                <%- include("add-skill-suggestion-priority", {index: index, indexPriority: indexPriority, starter: boolStarter}) %>
                <% if (numberIndexPriority === 0) { %>
                    <button type="button" class="create-skills-suggestion-priority form-control not-full-width" data-index="<%= index %>">
                        <i class="material-icons">add</i>
                    </button>
                <% } %>
            </div>
            <div class="col-4 fr-comment">
                <div class="py-1" contenteditable="true" data-text="Comment..."></div>
            </div>
            <div class="col-4 en-comment">
                <div class="py-1" contenteditable="true" data-text="Comment..."></div>
            </div>
            <div class="col-1 actions">
                <% if (numberIndex === 0) { %>
                    <button type="button" class="create-skills-suggestion form-control not-full-width"><i class="material-icons">add</i></button>
                <% } else { %>
                    <button type="button" data-index="<%= index %>" class="remove-skills-suggestion form-control remove not-full-width"><i class="material-icons">close</i></button>
                <% } %>
            </div>
        </div>
    </div>
</div>
