<%
    let numberIndex = Number(index);
    let starterClass = numberIndex === 0 ? " starter" : "";
    let commentFrValue = locals.saint && locals.comment ? __({phrase: comment, locale: 'fr'}) : "";
    let commentEnValue = locals.saint && locals.comment ? __({phrase: comment, locale: 'en'}) : "";
%>

<div class="row suggestion<%= starterClass %>">
    <div class="col-12">
        <div class="row content">
            <div class="col-1 index"><%= index %></div>
            <div class="col-2 priorities">
                <% if (!locals.saint || (locals.saint && saint.skills_suggestions.length === 0)) { %>
                    <%-
                        include("add-skill-suggestion-priority", {
                            index: numberIndex,
                            indexPriority: 0
                        })
                    %>
                    <button type="button" class="create-skills-suggestion-priority form-control not-full-width" data-index="<%= index %>">
                        <i class="material-icons">add</i>
                    </button>
                <% } else { %>
                    <%
                        priorities.forEach((priority, i) => {
                            %>
                                <%-
                                    include("add-skill-suggestion-priority", {
                                        index: numberIndex,
                                        indexPriority: i,
                                        priority: priority
                                    })
                                %>
                                <% if (i === 0) { %>
                                    <button type="button" class="create-skills-suggestion-priority form-control not-full-width" data-index="<%= index %>">
                                        <i class="material-icons">add</i>
                                    </button>
                                <% } %>
                            <%
                        });
                    %>
                <% } %>
            </div>
            <div class="col-4 fr-comment">
                <div class="py-1" contenteditable="true" data-text="Comment..."><%= commentFrValue %></div>
            </div>
            <div class="col-4 en-comment">
                <div class="py-1" contenteditable="true" data-text="Comment..."><%= commentEnValue %></div>
            </div>
            <div class="col-1 actions">
                <% if (numberIndex === 0) { %>
                    <button type="button" class="create-skills-suggestion form-control not-full-width"><i class="material-icons">add</i></button>
                <% } else { %>
                    <button type="button" data-index="<%= index %>" class="remove-skills-suggestion form-control remove not-full-width"><i class="material-icons">close</i></button>
                <% } %>
            </div>
        </div>
    </div>
</div>
