<div class="modal fade" id="<%= modal.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= modal.title %></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 autocomplete-container position-relative">
                        <label for="search-elements-<%= type %>">
                            <span><%= capitalize(type) %> type</span>
                            <i class="material-icons">search</i>
                        </label>
                        <select id="search-elements-<%= type %>" class="custom-select form-control static-dropdown" multiple>
                            <option placeholder>Ex: <%= __(elements[0].name) %></option>
                            <%
                                for (let i = 0, count = elements.length; i < count; i++) {
                                    let slug = elements[i].slug;
                                    let selected;

                                    if (selectedElements) {
                                        selected = selectedElements.indexOf(slug) > -1 ? "selected": "";
                                    }
                                    %>
                                        <option id="element-<%= slug %>" value="<%= slug %>" <%= selected %>><%= __(elements[i].name) %></option>
                                    <%
                                }
                            %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="<%= modal.submitId %>" type="button" class="submit custom-theme theme-3 mx-auto" data-index="<%= index %>" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
