<div id="<%= ids.block %>" class="row">
    <div class="col-12">
        <h2 class="h5 mt-0"><%= title %></h2>
    </div>
    <div class="col-4 thumb-container large-display avatar">
        <label for="<%= ids.avatar.input %>" class="pointer">Upload image <span class="small font-weight-bold">(max <%= maxSize %>)</span>: <span class="text-gold"><%= !locals.saint ? "default.png" : "" %></span></label>
        <input type="file" id="<%= ids.avatar.input %>" name="custom-file" class="not-visible" accept=".jpg, .jpeg, .png">
        <img src="<%= cloudinary.url("resources/image.png", {fetch_format: "auto", quality: "auto", secure: true}) %>" id="<%= ids.avatar.image %>" class="img-fluid img big object-fit-contain rounded pointer" alt="Avatar" />
    </div>
    <div class="col-4 thumb-container large-display mask">
        <label for="<%= ids.mask.input %>" class="pointer">Upload mask <span class="small font-weight-bold">(max <%= maxSize %>)</span>: <span class="text-gold"><%= !locals.saint ? "default.png" : "" %></span></label>
        <input type="file" id="<%= ids.mask.input %>" name="custom-file" class="not-visible" accept=".jpg, .jpeg, .png">
        <img src="<%= cloudinary.url("resources/mask.png", {fetch_format: "auto", quality: "auto", secure: true}) %>" id="<%= ids.mask.image %>" class="img-fluid img big object-fit-contain rounded pointer" alt="Mask" />
    </div>
    <div class="col-4 thumb-container large-display result">
        <label for="<%= ids.result %>" class="pointer">Result</label>
        <img src="<%= cloudinary.url("resources/image-mask-result.png", {fetch_format: "auto", quality: "auto", secure: true}) %>" id="<%= ids.result %>" class="img-fluid img big object-fit-contain rounded" alt="Avatar processed" />
    </div>
    <div class="col-12 text-center">
        <button type="button" id="<%= ids.process %>" class="process custom-theme theme-1">Start image processing</button>
    </div>
</div>
<div class="e-s-5"></div>
