<!DOCTYPE html>
<html lang="<%= global.utils.locales.language %>">
    <%
    let data = (() => {
            let object = {};

            object.head = {
                title: "Ajouter une compétence",
                viewStyleUrls: [
                    "<link defer='defer' rel='stylesheet' href='../../../css/back/views/update-skill.css' type='text/css'>"
                ],
                viewScriptUrls: [
                    "<script defer='defer' src='../../../public/dist/js/back/views/update-skill.js' type='text/javascript'></script>"
                ]
            };
            object.activeIndex = "4.0";
            object.icon = "flash_on";

            return object;
        })(),
        responseModalData = {
            title: "Warning!",
            id: "response-modal"
        };
    %>
    <%- include("./../layout/head", {head: data.head}) %>

    <body>
        <section class="wrapper">
            <%- include("./../layout/menu", {data: data}) %>

            <div id="content">
                <div class="container-fluid">
                    <%- include("./../modules/update-skill", {data: data}) %>
                </div>
            </div>
            <%- include("./../modules/button-go-top") %>
        </section>
        <%- include("./../modules/modal/response", {data: responseModalData}) %>
    </body>
</html>
