<!DOCTYPE html>
<html lang="<%= global.utils.locales.language %>">
    <%
        let data = (() => {
            let object = {};

            object.head = {
                title: "Modifier un saint",
                viewStyleUrls: [
                    "<link defer='defer' rel='stylesheet' href='../../../css/back/views/update-saint.css' type='text/css'>",
                    "<link defer='defer' rel='stylesheet' href='../../../node_modules/choices.js/public/assets/styles/choices.min.css' type='text/css'>"
                ],
                viewScriptUrls: [
                    "<script defer='defer' src='../../../public/dist/js/back/views/update-saint.js' type='text/javascript'></script>"
                ]
            };
            object.dropdown = [
                {
                    url: "/back/update-saint/:" + saint._id,
                    icon: "create",
                    title: object.head.title,
                    visibility: [
                        "production",
                        "development"
                    ]
                }
            ];
            object.activeIndex = "2.2";
            object.icon = "create";

            return object;
        })(),
        responseModalData = {
            title: "Warning!",
            id: "response-modal"
        };
    %>
    <%- include("./../layout/head", {head: data.head}) %>

    <body>
        <section class="wrapper">
            <%- include("./../layout/menu", {data: data}) %>

            <div id="content">
                <div class="container-fluid">
                    <%- include("./../modules/update-saint", {data: data}) %>
                </div>
            </div>
            <%- include("./../modules/button-go-top") %>
        </section>
        <%- include("./../modules/modal/response", {data: responseModalData}) %>
    </body>
</html>
